<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>File Upload POC</title>
    </head>
    <body>

<!-- Navigation Menu -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top sticky-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Grid FS File Upload POC</a>
    <ul class="navbar-nav">
    <!-- Dropdown -->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Menu
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/">Upload a File</a>
            <a class="dropdown-item" href="/files">List Files</a>
            <a class="dropdown-item" href="/about">About</a>
            
        </div>
        </li>
    </ul>
    </nav> 
    <br>