<%- include('./partials/header.ejs') %> 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center display-4 my-4">About</h1>
            <p> This is a proof of concept 'File Upload' feature for the 
                <a href="http://lv-psapps01.corp.proofpoint.com/">Customer Profile Page</a></p>
            <p>It is written in <a href="https://nodejs.org/en/about/">Node JS</a> where the files get uploaded to a <a href="https://www.mongodb.com/what-is-mongodb">Mongo DB</a> using <a href="https://docs.mongodb.com/manual/core/gridfs/">Grid FS</a>.</p>
            <div class="card" style="width:400px">
                
                <div class="card-body">
                  <h4 class="card-title">Martin Engineer</h4>
                  <p class="card-text">Pre-Sales Implementation Specialist</p>
                  <a href="mailto:mengineer@proofpoint.com" class="btn btn-light">Email secondary</a>
                </div>
              </div>
        </div>

    </div>
</div>
<%- include('./partials/footer.ejs') %> 